body {
  background-color: aqua;
}
.card {
  width: 90%;
  max-width: 1000px;
  background-color: green;
  color: blue;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background-color: yellow;
  color: blueviolet;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background-color: yellow;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#weatherContainer {
  display: flex;
  justify-content: center;
}
#iconsContainer {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  height: 75%;
  width: 75%;
}
.icons {
  display: inline-block;
  height: 200px;
  width: 190px;
  margin: 20px;
  border: 5px solid black;
  border-radius: 10px;
}

.image {
  height: 100px;
  width: 100%;
}
.imageClass {
  height: 140px;
  width: 100%;
}
.weather {
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}
.temp {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}
.humid {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}
.wind {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}
